.text-italic {
    font-style: italic;
}
.text-oblique {
    font-style: oblique;
}

.text-line-through {
    text-decoration: line-through;
}

.text-underline {
    text-decoration: underline;
}

.text-overline {
    text-decoration: overline;
}
