$btn-font: "Nunito Sans", "Helvetica Neue", Helvetica, Arial;
$btn-fw: 700;
$btn-borderRadius: 0.475rem;
$btn-padding: 0.5em 1em;
$btn-primary: #006ae6;
$btn-secondary: darken($btn-primary, 20%);
$font-color: white !default;
$secondary-color: black;
$btn-success: #00a261;
$btn-danger: rgb(255, 0, 0);
$btn-dark: #272a34;
$btn-info: #883fff;
$btn-transition: 0.3s;
$acc-background: #272a34;
